@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bem-vindo(a)</h1>
    <p>Leia sobre <a href="https://suap.ifpi.edu.br/media/trabalhos/projeto_final-867160c6e94045dca1212f1963342d40.pdf">Descrição do Projeto</a>.</p>
</div>
